.form2-container {
     width: 100%;
     height: 700px;
     display: flex;
     flex-direction: column;
   
     .form2-aboutYou {
       width: 80%;
       display: flex;
       gap: 90px  ;
       justify-content: center;
   
       .form2-aboutYou-left {
         display: flex;
         flex-direction: column;

         input{
          width: 330px;
          height: 30px;
         }
       }
   
       .form2-aboutYou-right {
         position: relative;
   
         .icon-fileUpload {
           display: inline-block;
           width: 100px;
           height: 100px;
           background-image: url(https://cdn-icons-png.flaticon.com/512/4018/4018596.png);
           background-size: cover;
           background-position: center;
           cursor: pointer;
   
         }
       }
     }
   }
    